<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'mantenimiento/base.html' %}

    {% block content %}
    <h1>Listado de Mantenimientos</h1>
    <ul>
        {% for mantenimiento in page_obj %}
            <li><a href="{% url 'detalle_mantenimiento' mantenimiento.id %}">{{ mantenimiento }}</a></li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primero</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">último &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endblock %}

</body>
</html>